<style>
  
img {
  width: 50px;
  height: 50px;
  margin: 10px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
}

.carousel-wrapper {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slide {
  min-width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  scroll-snap-align: start;
  text-decoration: none;
  color: black;
}

.slide img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
}

.left { left: 10px; }
.right { right: 10px; }

.dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: gray;
  cursor: pointer;
}

.dot.active {
  background: black;
}



</style>
